epirr/metadata_validation/schemas/xml/exp_com.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2018 EMBL - European Bioinformatics Institute
  ~ Licensed under the Apache License, Version 2.0 (the "License"); you may not use this
  ~ file except in compliance with the License. You may obtain a copy of the License at
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~ Unless required by applicable law or agreed to in writing, software distributed under the
  ~ License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR
  ~ CONDITIONS OF ANY KIND, either express or implied. See the License for the
  ~ specific language governing permissions and limitations under the License.
  -->

<!-- version:1.5.61 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:com="SRA.common"
    targetNamespace="SRA.common">

    <xs:complexType name="ObjectType">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="IDENTIFIERS" type="com:IdentifierType"/>
        </xs:sequence>
        <xs:attribute name="alias" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>
                    Submitter designated name for the object. The name must be unique within the submission account.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="center_name" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>
                    The center name of the submitter.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="broker_name" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>
                    The center name of the broker.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="accession" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>
                    The object accession assigned by the archive.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="RefObjectType">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="IDENTIFIERS" type="com:IdentifierType"/>
        </xs:sequence>
        <xs:attribute name="refname" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>
                    Identifies an object by name within the namespace defined by attribute "refcenter".
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="refcenter" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>
                    The namespace of the attribute "refname".
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="accession" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>
                    Identifies a record by its accession.  The scope of resolution is the entire Archive.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:attributeGroup name="NameGroup">
        <xs:attribute name="alias" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>
                    Submitter designated name of the SRA document of this type.  At minimum alias should
                    be unique throughout the submission of this document type.  If center_name is specified, the name should
                    be unique in all submissions from that center of this document type.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="center_name" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>
                    Owner authority of this document and namespace for submitter's name of this document. 
                    If not provided, then the submitter is regarded as "Individual" and document resolution
                    can only happen within the submission.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="broker_name" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>
                    Broker authority of this document.  If not provided, then the broker is considered "direct".
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="accession" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>
                    The document's accession as assigned by the Home Archive.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:attributeGroup>

    <xs:attributeGroup name="RefNameGroup">
        <xs:attribute name="refname" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>
                    Identifies a record by name that is known within the namespace defined by attribute "refcenter"
                    Use this field when referencing an object for which an accession has not yet been issued.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="refcenter" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>
                    The center namespace of the attribute "refname". When absent, the namespace is assumed to be the current submission.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="accession" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>
                    Identifies a record by its accession.  The scope of resolution is the entire Archive.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:attributeGroup>

    <xs:complexType name="NameType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="label" use="optional" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>Alternative/explanatory description of the same object/identifier.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="QualifiedNameType">
        <xs:simpleContent>
            <xs:extension base="com:NameType">
                <xs:attribute name="namespace" use="required" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>A string value that constrains the domain of named
                            identifiers (namespace). </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="IdentifierType">
        <xs:annotation>
            <xs:documentation>Set of record identifiers.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="PRIMARY_ID" type="com:NameType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>A primary identifier in the INSDC namespace.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SECONDARY_ID" type="com:NameType" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>A secondary identifier in the INSDC namespace.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="EXTERNAL_ID" type="com:QualifiedNameType" minOccurs="0"
                maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>An identifer rom a public non-INSDC resource.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SUBMITTER_ID" type="com:QualifiedNameType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>A submitter provided identifier.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="UUID" type="com:NameType" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>A universally unique identifier that requires no namespace.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="XRefType">
        <xs:all>
            <xs:element name="DB" type="xs:string" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation> INSDC controlled vocabulary of permitted cross references.
                        Please see http://www.insdc.org/db_xref.html . For example, FLYBASE. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ID" minOccurs="1" maxOccurs="1" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                            Accession in the referenced database.    For example,  FBtr0080008 (in FLYBASE).
                        </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="LABEL" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                            Text label to display for the link.
                        </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:all>
    </xs:complexType>

    <xs:complexType name="URLType">
        <xs:all>
            <xs:element name="LABEL" type="xs:string" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        Text label to display for the link.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="URL" minOccurs="1" maxOccurs="1" type="xs:anyURI">
                <xs:annotation>
                    <xs:documentation>
                        The internet service link (file:, http:, ftp:, etc).
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:all>
    </xs:complexType>
    <xs:complexType name="AttributeType">
        <xs:annotation>
            <xs:documentation>
                Reusable attributes to encode tag-value pairs with optional units.
            </xs:documentation>
        </xs:annotation>
        <xs:all>
            <xs:element name="TAG" type="xs:string" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        Name of the attribute.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="VALUE" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        Value of the attribute.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="UNITS" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        Optional scientific units.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:all>
    </xs:complexType>

    <xs:complexType name="LinkType">
        <xs:annotation>
            <xs:documentation>
                Reusable external links type to encode URL links, Entrez links, and db_xref links.
            </xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="URL_LINK">
                <xs:complexType>
                    <xs:all>
                        <xs:element name="LABEL" type="xs:string" minOccurs="1" maxOccurs="1">
                            <xs:annotation>
                                <xs:documentation>
                                    Text label to display for the link.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="URL" minOccurs="1" maxOccurs="1" type="xs:anyURI">
                            <xs:annotation>
                                <xs:documentation> The internet service link (file:, http:, ftp: etc). </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:all>
                </xs:complexType>
            </xs:element>
            <xs:element name="XREF_LINK" type="com:XRefType"/>

            <xs:element name="ENTREZ_LINK">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="DB" type="xs:string" minOccurs="1" maxOccurs="1">
                            <xs:annotation>
                                <xs:documentation>
                                    NCBI controlled vocabulary of permitted cross references.  Please see http://www.ncbi.nlm.nih.gov/entrez/eutils/einfo.fcgi? .
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:choice>
                            <xs:element name="ID" type="xs:nonNegativeInteger" minOccurs="1"
                                maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation>
                                        Numeric record id meaningful to the NCBI Entrez system.
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="QUERY" type="xs:string" minOccurs="1" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation>
                                        Accession string meaningful to the NCBI Entrez system.
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                        </xs:choice>
                        <xs:element name="LABEL" type="xs:string" minOccurs="0" maxOccurs="1">
                            <xs:annotation>
                                <xs:documentation>
                                    How to label the link.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

        </xs:choice>
    </xs:complexType>


    <xs:complexType name="SpotDescriptorType">
        <xs:annotation>
            <xs:documentation>
                    The SPOT_DESCRIPTOR specifies how to decode the individual reads of interest from the 
                    monolithic spot sequence.  The spot descriptor contains aspects of the experimental design, 
                    platform, and processing information.  There will be two methods of specification: one 
                    will be an index into a table of typical decodings, the other being an exact specification.                                      
                </xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="SPOT_DECODE_SPEC">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="SPOT_LENGTH" type="xs:nonNegativeInteger" minOccurs="0"
                            maxOccurs="1">
                            <xs:annotation>
                                <xs:documentation> Number of base/color calls, cycles, or flows per
                                    spot (raw sequence length or flow length including all
                                    application and technical tags and mate pairs, but not including
                                    gap lengths). This value will be platform dependent, library
                                    dependent, and possibly run dependent. Variable length platforms
                                    will still have a constant flow/cycle length. </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="READ_SPEC" minOccurs="1" maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="READ_INDEX" type="xs:nonNegativeInteger"
                                        nillable="false">
                                        <xs:annotation>
                                            <xs:documentation>READ_INDEX starts at 0 and is incrementally increased for each sequential READ_SPEC within a SPOT_DECODE_SPEC</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="READ_LABEL" type="xs:string" minOccurs="0"
                                        maxOccurs="1">
                                        <xs:annotation>
                                            <xs:documentation>READ_LABEL is a name for this tag, and can be used to on output to determine read name, for example F or R.</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="READ_CLASS">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="Application Read"/>
                                                <xs:enumeration value="Technical Read"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="READ_TYPE" default="Forward">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="Forward"/>
                                                <xs:enumeration value="Reverse"/>
                                                <xs:enumeration value="Adapter"/>
                                                <xs:enumeration value="Primer"/>
                                                <xs:enumeration value="Linker"/>
                                                <xs:enumeration value="BarCode"/>
                                                <xs:enumeration value="Other"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>

                                    <xs:choice>
                                        <xs:annotation>
                                            <xs:documentation>
                                                    There are various methods to ordering the reads on the spot.
                                                </xs:documentation>
                                        </xs:annotation>
                                        <xs:element name="RELATIVE_ORDER">
                                            <xs:annotation>
                                                <xs:documentation>
                                                        The read is located beginning at the offset or cycle relative to another read.  
                                                        This choice is appropriate for example when specifying a read
                                                        that follows a variable length expected sequence(s).
                                                    </xs:documentation>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:attribute name="follows_read_index"
                                                  type="xs:nonNegativeInteger" use="optional">
                                                  <xs:annotation>
                                                  <xs:documentation>
                                                                Specify the read index that precedes this read.
                                                            </xs:documentation>
                                                  </xs:annotation>
                                                </xs:attribute>
                                                <xs:attribute name="precedes_read_index"
                                                  type="xs:nonNegativeInteger" use="optional">
                                                  <xs:annotation>
                                                  <xs:documentation>
                                                                Specify the read index that follows this read.
                                                            </xs:documentation>
                                                  </xs:annotation>
                                                </xs:attribute>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="BASE_COORD" type="xs:integer">
                                            <xs:annotation>
                                                <xs:documentation>
                                                        The location of the read start in terms of base count (1 is beginning of spot).
                                                    </xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="EXPECTED_BASECALL_TABLE">
                                            <xs:annotation>
                                                <xs:documentation>
                                                        A set of choices of expected basecalls for a current read. Read will be zero-length if none is found.
                                                    </xs:documentation>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence minOccurs="1" maxOccurs="1">
                                                  <xs:element name="BASECALL" maxOccurs="unbounded">
                                                  <xs:annotation>
                                                  <xs:documentation>
                                                       Element's body contains a basecall, attribute provide description of this read meaning as well as matching rules.
                                                  </xs:documentation>
                                                  </xs:annotation>
                                                  <xs:complexType>
                                                  <xs:simpleContent>
                                                  <xs:extension base="xs:string">
                                                  <xs:attribute name="read_group_tag"
                                                  type="xs:string" use="optional">
                                                  <xs:annotation>
                                                  <xs:documentation>
                                                       When match occurs, the read will be tagged with this group membership
                                                  </xs:documentation>
                                                  </xs:annotation>
                                                  </xs:attribute>
                                                  <xs:attribute name="min_match"
                                                  type="xs:nonNegativeInteger" use="optional">
                                                  <xs:annotation>
                                                  <xs:documentation>
                                                       Minimum number of matches to trigger identification.
                                                  </xs:documentation>
                                                  </xs:annotation>
                                                  </xs:attribute>
                                                  <xs:attribute name="max_mismatch"
                                                  type="xs:nonNegativeInteger" use="optional">
                                                  <xs:annotation>
                                                  <xs:documentation>
                                                       Maximum number of mismatches 
                                                   </xs:documentation>
                                                  </xs:annotation>
                                                  </xs:attribute>
                                                  <xs:attribute name="match_edge">
                                                  <xs:annotation>
                                                  <xs:documentation>
                                                       Where the match should occur. Changes the rules on how min_match and max_mismatch are counted.                                                                                                          
                                                  </xs:documentation>
                                                  </xs:annotation>
                                                  <xs:simpleType>
                                                  <xs:restriction base="xs:string">
                                                  <xs:enumeration value="full">
                                                  <xs:annotation>
                                                  <xs:documentation>
                                                      Only @max_mismatch influences matching process                                                                                                          
                                                  </xs:documentation>
                                                  </xs:annotation>
                                                  </xs:enumeration>
                                                  <xs:enumeration value="start">
                                                  <xs:annotation>
                                                  <xs:documentation>
                                                       Both matches and mismatches are counted. 
                                                       When @max_mismatch is exceeded - it is not a match.
                                                       When @min_match is reached - match is declared.                                                                                                                                                                                                                           
                                                  </xs:documentation>
                                                  </xs:annotation>
                                                  </xs:enumeration>
                                                  <xs:enumeration value="end">
                                                  <xs:annotation>
                                                  <xs:documentation>
                                                       Both matches and mismatches are counted. 
                                                       When @max_mismatch is exceeded - it is not a match.
                                                       When @min_match is reached - match is declared.                                                                                                                                                                                                                           
                                                  </xs:documentation>
                                                  </xs:annotation>
                                                  </xs:enumeration>
                                                  </xs:restriction>
                                                  </xs:simpleType>
                                                  </xs:attribute>
                                                  </xs:extension>
                                                  </xs:simpleContent>
                                                  </xs:complexType>
                                                  </xs:element>
                                                </xs:sequence>
                                                <xs:attribute name="default_length"
                                                  type="xs:nonNegativeInteger" use="optional">
                                                  <xs:annotation>
                                                  <xs:documentation>
                                                      Specify whether the spot should have a default length for this tag if the expected base cannot be matched.
                                                  </xs:documentation>
                                                  </xs:annotation>
                                                </xs:attribute>
                                                <xs:attribute name="base_coord"
                                                  type="xs:nonNegativeInteger" use="optional">
                                                  <xs:annotation>
                                                  <xs:documentation>
                                                      Specify an optional starting point for tag (base offset from 1).  
                                                  </xs:documentation>
                                                  </xs:annotation>
                                                </xs:attribute>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:choice>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:choice>

    </xs:complexType>

    <xs:complexType name="PlatformType">
        <xs:annotation>
            <xs:documentation> The PLATFORM record selects which sequencing platform and platform-specific runtime parameters. This will be
        determined by the Center. </xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="LS454">
                <xs:annotation>
                    <xs:documentation> 454 technology use 1-color sequential flows </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="INSTRUMENT_MODEL" maxOccurs="1" minOccurs="1"
                            type="com:type454Model"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ILLUMINA">
                <xs:annotation>
                    <xs:documentation> Illumina is 4-channel flowgram with 1-to-1 mapping between basecalls and flows </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="INSTRUMENT_MODEL" maxOccurs="1" minOccurs="1"
                            type="com:typeIlluminaModel"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="HELICOS">
                <xs:annotation>
                    <xs:documentation> Helicos is similar to 454 technology - uses 1-color sequential flows </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="INSTRUMENT_MODEL" maxOccurs="1" minOccurs="1"
                            type="com:typeHelicosModel"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ABI_SOLID">
                <xs:annotation>
                    <xs:documentation> ABI is 4-channel flowgram with 1-to-1 mapping between basecalls and flows </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="INSTRUMENT_MODEL" maxOccurs="1" minOccurs="1"
                            type="com:typeAbiSolidModel"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="COMPLETE_GENOMICS">
                <xs:annotation>
                    <xs:documentation> CompleteGenomics platform type. At present there is no instrument model. </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="INSTRUMENT_MODEL" maxOccurs="1" minOccurs="1"
                            type="com:typeCGModel"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="BGISEQ">
                <xs:annotation>
                    <xs:documentation/>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="INSTRUMENT_MODEL" maxOccurs="1" minOccurs="1"
                            type="com:typeBGISEQModel"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="OXFORD_NANOPORE">
                <xs:annotation>
                    <xs:documentation> Oxford Nanopore platform type. nanopore-based electronic single molecule analysis </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="INSTRUMENT_MODEL" maxOccurs="1" minOccurs="1"
                            type="com:typeOxfordNanoporeModel"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="PACBIO_SMRT">
                <xs:annotation>
                    <xs:documentation> PacificBiosciences platform type for the single molecule real time (SMRT) technology. </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="INSTRUMENT_MODEL" maxOccurs="1" minOccurs="1"
                            type="com:typePacBioModel"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ION_TORRENT">
                <xs:annotation>
                    <xs:documentation> Ion Torrent Personal Genome Machine (PGM) from Life Technologies. </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="INSTRUMENT_MODEL" maxOccurs="1" minOccurs="1"
                            type="com:typeIontorrentModel"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="CAPILLARY">
                <xs:annotation>
                    <xs:documentation> Sequencers based on capillary electrophoresis technology manufactured by LifeTech (formerly Applied
                BioSciences). </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="INSTRUMENT_MODEL" maxOccurs="1" minOccurs="1"
                            type="com:typeCapillaryModel"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="DNBSEQ">
                <xs:annotation>
                    <xs:documentation> Sequencers based on DNBSEQ by MGI Tech. </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="INSTRUMENT_MODEL" maxOccurs="1" minOccurs="1"
                                    type="com:typeDnbSeqModel"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:choice>

    </xs:complexType>

    <xs:complexType name="SequencingDirectivesType">
        <xs:all>
            <xs:element name="SAMPLE_DEMUX_DIRECTIVE" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        Tells the Archive who will execute the sample demultiplexing operation..
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="leave_as_pool">
                            <xs:annotation>
                                <xs:documentation>
                                    There shall be no sample de-multiplexing at the level of assiging individual reads to sample pool members.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="submitter_demultiplexed">
                            <xs:annotation>
                                <xs:documentation>
                                    The submitter has assigned individual reads to sample pool members by providing individual files 
                                    containing reads with the same member assignment.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>

                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:all>
    </xs:complexType>


    <xs:complexType name="PipelineType">
        <xs:annotation>
            <xs:documentation> The PipelineType identifies the sequence or tree of actions to
                process the sequencing data. </xs:documentation>
        </xs:annotation>
        <xs:sequence minOccurs="1" maxOccurs="1">
            <xs:element name="PIPE_SECTION" minOccurs="1" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="STEP_INDEX" type="xs:string">
                            <xs:annotation>
                                <xs:documentation>
                                    Lexically ordered  value that allows for the pipe section to be hierarchically ordered.  The float primitive data type is
                                    used to allow for pipe sections to be inserted later on.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="PREV_STEP_INDEX" type="xs:string" nillable="true"
                            minOccurs="1" maxOccurs="unbounded">
                            <xs:annotation>
                                <xs:documentation>
                                    STEP_INDEX of the previous step in the workflow.  Set toNIL if the first pipe section.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="PROGRAM" type="xs:string">
                            <xs:annotation>
                                <xs:documentation>
                                    Name of the program or process for primary analysis.   This may include a test or condition
                                    that leads to branching in the workflow.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="VERSION" type="xs:string">
                            <xs:annotation>
                                <xs:documentation>
                                    Version of the program or process for primary analysis. 
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="NOTES" type="xs:string" maxOccurs="1" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>
                                    Notes about the program or process for primary analysis. 
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                    <xs:attribute name="section_name" type="xs:string" use="optional">
                        <xs:annotation>
                            <xs:documentation>
                                Name of the processing pipeline section.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ReferenceAssemblyType">
        <xs:annotation>
            <xs:documentation>Reference assembly details.</xs:documentation>
        </xs:annotation>
        <xs:choice>

            <xs:element name="STANDARD">
                <xs:annotation>
                    <xs:documentation>A standard genome assembly.
                                                 </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:attribute name="refname" type="xs:string" use="optional">
                        <xs:annotation>
                            <xs:documentation>A recognized name for the genome assembly.</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="accession" type="xs:token">
                        <xs:annotation>
                            <xs:documentation>Identifies the genome assembly
                                using an accession number and a sequence version.
                             </xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                </xs:complexType>
            </xs:element>
            <xs:element name="CUSTOM">
                <xs:annotation>
                    <xs:documentation>Other genome assembly.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="0" name="DESCRIPTION" type="xs:string">
                            <xs:annotation>
                                <xs:documentation>Description of the genome
                                                 assembly.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element maxOccurs="unbounded" name="URL_LINK">
                            <xs:annotation>
                                <xs:documentation>A link to the genome
                                                 assembly.</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:all>
                                    <xs:element maxOccurs="1" minOccurs="0" name="LABEL"
                                        type="xs:string">
                                        <xs:annotation>
                                            <xs:documentation> Text label to display for the
                                                 link. </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element maxOccurs="1" minOccurs="1" name="URL"
                                        type="xs:anyURI">
                                        <xs:annotation>
                                            <xs:documentation> The internet service link
                                                 (file:, http:, ftp:, etc). </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                </xs:all>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ReferenceSequenceType">
        <xs:annotation>
            <xs:documentation>Reference assembly and sequence details.                              </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element minOccurs="0" name="ASSEMBLY" type="com:ReferenceAssemblyType">
                <xs:annotation>
                    <xs:documentation>Reference assembly details.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="SEQUENCE">
                <xs:annotation>
                    <xs:documentation>Reference sequence details.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:attribute name="refname" type="xs:string" use="optional">
                        <xs:annotation>
                            <xs:documentation>A recognized name for the
                                                 reference sequence.</xs:documentation>
                        </xs:annotation>

                    </xs:attribute>
                    <xs:attribute name="accession" type="xs:token">
                        <xs:annotation>
                            <xs:documentation>  Accession.version with version being mandatory
                                  </xs:documentation>



                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="label" type="xs:string" use="optional">
                        <xs:annotation>
                            <xs:documentation> This is how Reference Sequence is labeled in submission file(s). 
                                  It is equivalent to  SQ label in BAM. 
                                  Optional when submitted file uses INSDC accession.version</xs:documentation>



                        </xs:annotation>
                    </xs:attribute>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProcessingType">
        <xs:sequence>
            <xs:element name="PIPELINE" type="com:PipelineType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation> Generic processing pipeline specification. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DIRECTIVES" type="com:SequencingDirectivesType" minOccurs="0"
                maxOccurs="1">
                <xs:annotation>
                    <xs:documentation> Processing directives tell the Sequence Read Archive how to
                        treat the input data, if any treatment is requested. </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <!-- STRING ENUMERATIONS BEGIN -->
    <xs:simpleType name="type454Model">
        <xs:restriction base="xs:string">
            <xs:enumeration value="454 GS"/>
            <xs:enumeration value="454 GS 20"/>
            <xs:enumeration value="454 GS FLX"/>
            <xs:enumeration value="454 GS FLX+"/>
            <xs:enumeration value="454 GS FLX Titanium"/>
            <xs:enumeration value="454 GS Junior"/>
            <xs:enumeration value="unspecified"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="typeIlluminaModel">
        <xs:restriction base="xs:string">
            <xs:enumeration value="HiSeq X Five"/>
            <xs:enumeration value="HiSeq X Ten"/>
            <xs:enumeration value="Illumina Genome Analyzer"/>
            <xs:enumeration value="Illumina Genome Analyzer II"/>
            <xs:enumeration value="Illumina Genome Analyzer IIx"/>  
            <xs:enumeration value="Illumina HiScanSQ"/>
            <xs:enumeration value="Illumina HiSeq 1000"/>
            <xs:enumeration value="Illumina HiSeq 1500"/>
            <xs:enumeration value="Illumina HiSeq 2000"/>
            <xs:enumeration value="Illumina HiSeq 2500"/>
            <xs:enumeration value="Illumina HiSeq 3000"/>
            <xs:enumeration value="Illumina HiSeq 4000"/>
            <xs:enumeration value="Illumina iSeq 100"/>
            <xs:enumeration value="Illumina MiSeq"/>
            <xs:enumeration value="Illumina MiniSeq"/>
            <xs:enumeration value="Illumina NovaSeq 6000"/>          
            <xs:enumeration value="NextSeq 500"/>  
            <xs:enumeration value="NextSeq 550"/>
            <xs:enumeration value="unspecified"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="typeHelicosModel">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Helicos HeliScope"/>
            <xs:enumeration value="unspecified"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="typeAbiSolidModel">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AB SOLiD System">
                <xs:annotation>
                    <xs:documentation>Undifferentiated early AB SOLiD system</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AB SOLiD System 2.0"/>
            <xs:enumeration value="AB SOLiD System 3.0"/>
            <xs:enumeration value="AB SOLiD 3 Plus System"/>
            <xs:enumeration value="AB SOLiD 4 System"/>
            <xs:enumeration value="AB SOLiD 4hq System"/>
            <xs:enumeration value="AB SOLiD PI System"/>
            <xs:enumeration value="AB 5500 Genetic Analyzer"/>
            <xs:enumeration value="AB 5500xl Genetic Analyzer"/>
            <xs:enumeration value="AB 5500xl-W Genetic Analysis System"/>
            <xs:enumeration value="unspecified"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="typeCGModel">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Complete Genomics"/>
            <xs:enumeration value="unspecified"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="typeBGISEQModel">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BGISEQ-500"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="typePacBioModel">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PacBio RS"/>
            <xs:enumeration value="PacBio RS II"/>
            <xs:enumeration value="Sequel"/>
            <xs:enumeration value="Sequel II"/>
            <xs:enumeration value="unspecified"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="typeIontorrentModel">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Ion Torrent PGM"/>
            <xs:enumeration value="Ion Torrent Proton"/>
            <xs:enumeration value="Ion Torrent S5"/>
            <xs:enumeration value="Ion Torrent S5 XL"/>
            <xs:enumeration value="unspecified"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="typeCapillaryModel">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AB 3730xL Genetic Analyzer"/>
            <xs:enumeration value="AB 3730 Genetic Analyzer"/>
            <xs:enumeration value="AB 3500xL Genetic Analyzer"/>
            <xs:enumeration value="AB 3500 Genetic Analyzer"/>
            <xs:enumeration value="AB 3130xL Genetic Analyzer"/>
            <xs:enumeration value="AB 3130 Genetic Analyzer"/>
            <xs:enumeration value="AB 310 Genetic Analyzer"/>
            <xs:enumeration value="unspecified"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="typeDnbSeqModel">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DNBSEQ-T7"/>
            <xs:enumeration value="DNBSEQ-G400"/>
            <xs:enumeration value="DNBSEQ-G50"/>
            <xs:enumeration value="DNBSEQ-G400 FAST"/>
            <xs:enumeration value="unspecified"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="typeOxfordNanoporeModel">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MinION"/>
            <xs:enumeration value="GridION"/>
            <xs:enumeration value="PromethION"/>
            <xs:enumeration value="unspecified"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- STRING ENUMERATIONS END -->

</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:com="SRA.common">
  <xs:import schemaLocation="SRA.common.xsd" namespace="SRA.common"/>

  <!-- STRING ENUMERATIONS BEGIN -->
  <xs:simpleType name="typeLibraryStrategy">
    <xs:annotation>
      <xs:documentation>Sequencing technique intended for this library.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="WGS">
        <xs:annotation>
          <xs:documentation>Whole Genome Sequencing - random sequencing of the whole genome (see pubmed 10731132 for details)
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="WGA">
        <xs:annotation>
          <xs:documentation>Whole Genome Amplification followed by random sequencing. (see pubmed 1631067,8962113 for details)
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="WXS">
        <xs:annotation>
          <xs:documentation> Random sequencing of exonic regions selected from the genome. (see pubmed 20111037 for details)
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RNA-Seq">
        <xs:annotation>
          <xs:documentation> Random sequencing of whole transcriptome, also known as Whole Transcriptome Shotgun Sequencing, or WTSS). (see
            pubmed 18611170 for details) </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ssRNA-seq">
        <xs:annotation>
          <xs:documentation> Strand-specific RNA sequencing.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="miRNA-Seq">
        <xs:annotation>
          <xs:documentation> Micro RNA sequencing strategy designed to capture post-transcriptional RNA elements and include non-coding
            functional elements. (see pubmed 21787409 for details) </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ncRNA-Seq">
        <xs:annotation>
          <xs:documentation>Capture of other non-coding RNA types, including post-translation modification types such as snRNA (small
            nuclear RNA) or snoRNA (small nucleolar RNA), or expression regulation types such as siRNA (small interfering RNA) or
            piRNA/piwi/RNA (piwi-interacting RNA).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="FL-cDNA">
        <xs:annotation>
          <xs:documentation> Full-length sequencing of cDNA templates </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="EST">
        <xs:annotation>
          <xs:documentation> Single pass sequencing of cDNA templates </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Hi-C">
        <xs:annotation>
          <xs:documentation> Chromosome Conformation Capture technique where a biotin-labeled nucleotide is incorporated at the ligation junction, enabling selective purification of chimeric DNA ligation junctions followed by deep sequencing. </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ATAC-seq">
        <xs:annotation>
          <xs:documentation> Assay for Transposase-Accessible Chromatin (ATAC) strategy is used to study genome-wide chromatin accessibility. alternative method to DNase-seq that uses an engineered Tn5 transposase to cleave DNA and to integrate primer DNA sequences into the cleaved genomic DNA. </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="WCS">
        <xs:annotation>
          <xs:documentation> Random sequencing of a whole chromosome or other replicon isolated from a genome. </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RAD-Seq"/>
      <xs:enumeration value="CLONE">
        <xs:annotation>
          <xs:documentation> Genomic clone based (hierarchical) sequencing. </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="POOLCLONE">
        <xs:annotation>
          <xs:documentation> Shotgun of pooled clones (usually BACs and Fosmids). </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="AMPLICON">
        <xs:annotation>
          <xs:documentation> Sequencing of overlapping or distinct PCR or RT-PCR products. For example, metagenomic community profiling
            using SSU rRNA . </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CLONEEND">
        <xs:annotation>
          <xs:documentation> Clone end (5', 3', or both) sequencing. </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="FINISHING">
        <xs:annotation>
          <xs:documentation> Sequencing intended to finish (close) gaps in existing coverage. </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ChIP-Seq">
        <xs:annotation>
          <xs:documentation> ChIP-seq, Chromatin ImmunoPrecipitation, reveals binding sites of specific proteins, typically transcription factors (TFs) using antibodies to extract DNA fragments bound to the target protein. </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="MNase-Seq">
        <xs:annotation>
          <xs:documentation> Identifies well-positioned nucleosomes. uses Micrococcal Nuclease (MNase) is an endo-exonuclease that processively digests DNA until an obstruction, such as a nucleosome, is reached. </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="DNase-Hypersensitivity">
        <xs:annotation>
          <xs:documentation> Sequencing of hypersensitive sites, or segments of open chromatin that are more readily cleaved by DNaseI.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Bisulfite-Seq">
        <xs:annotation>
          <xs:documentation>MethylC-seq. Sequencing following treatment of DNA with bisulfite to convert cytosine residues to uracil
            depending on methylation status. </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CTS">
        <xs:annotation>
          <xs:documentation> Concatenated Tag Sequencing </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="MRE-Seq">
        <xs:annotation>
          <xs:documentation> Methylation-Sensitive Restriction Enzyme Sequencing. </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="MeDIP-Seq">
        <xs:annotation>
          <xs:documentation> Methylated DNA Immunoprecipitation Sequencing. </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="MBD-Seq">
        <xs:annotation>
          <xs:documentation> Methyl CpG Binding Domain Sequencing. </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Tn-Seq">
        <xs:annotation>
          <xs:documentation>Quantitatively determine fitness of bacterial genes based on how many times a purposely seeded transposon gets
            inserted into each gene of a colony after some time. </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="VALIDATION">
        <xs:annotation>
          <xs:documentation>CGHub special request: Independent experiment to re-evaluate putative variants. </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="FAIRE-seq">
        <xs:annotation>
          <xs:documentation>Formaldehyde Assisted Isolation of Regulatory Elements. Reveals regions of open chromatin. </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SELEX">
        <xs:annotation>
          <xs:documentation>Systematic Evolution of Ligands by Exponential enrichment</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RIP-Seq">
        <xs:annotation>
          <xs:documentation>Direct sequencing of RNA immunoprecipitates (includes CLIP-Seq, HITS-CLIP and PAR-CLIP). </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ChIA-PET">
        <xs:annotation>
          <xs:documentation>Direct sequencing of proximity-ligated chromatin immunoprecipitates.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Synthetic-Long-Read">
        <xs:annotation>
          <xs:documentation>binning and barcoding of large DNA fragments to facilitate assembly of the fragment</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Targeted-Capture">
        <xs:annotation>
          <xs:documentation>Enrichment of a targeted subset of loci.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Tethered Chromatin Conformation Capture"/>
      <xs:enumeration value="NOMe-Seq">
        <xs:annotation>
          <xs:documentation>Nucleosome Occupancy and Methylome sequencing.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ChM-Seq">
        <xs:annotation>
          <xs:documentation>ChIPmentation combines chromatin immunoprecipitation with sequencing library preparation by Tn5 transposase (see pubmed 26280331 for details)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="GBS">
        <xs:annotation>
          <xs:documentation>Genotyping by sequencing is a method to discover single nucleotide polymorphisms for genotyping studies.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="OTHER">
        <xs:annotation>
          <xs:documentation> Library strategy not listed. </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="typeLibrarySource">
    <xs:annotation>
      <xs:documentation> The LIBRARY_SOURCE specifies the type of source material that is being sequenced. </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="GENOMIC">
        <xs:annotation>
          <xs:documentation> Genomic DNA (includes PCR products from genomic DNA). </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="GENOMIC SINGLE CELL"/>
      <xs:enumeration value="TRANSCRIPTOMIC">
        <xs:annotation>
          <xs:documentation> Transcription products or non genomic DNA (EST, cDNA, RT-PCR, screened libraries). </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="TRANSCRIPTOMIC SINGLE CELL"/>
      <xs:enumeration value="METAGENOMIC">
        <xs:annotation>
          <xs:documentation> Mixed material from metagenome. </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="METATRANSCRIPTOMIC">
        <xs:annotation>
          <xs:documentation> Transcription products from community targets </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SYNTHETIC">
        <xs:annotation>
          <xs:documentation> Synthetic DNA. </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="VIRAL RNA">
        <xs:annotation>
          <xs:documentation> Viral RNA. </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="OTHER">
        <xs:annotation>
          <xs:documentation> Other, unspecified, or unknown library source material. </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="typeLibrarySelection">
    <xs:annotation>
      <xs:documentation> Method used to enrich the target in the sequence library preparation </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="RANDOM">
        <xs:annotation>
          <xs:documentation>No Selection or Random selection</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PCR">
        <xs:annotation>
          <xs:documentation>target enrichment via PCR</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RANDOM PCR">
        <xs:annotation>
          <xs:documentation>Source material was selected by randomly generated primers.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RT-PCR">
        <xs:annotation>
          <xs:documentation>target enrichment via </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="HMPR">
        <xs:annotation>
          <xs:documentation>Hypo-methylated partial restriction digest</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="MF">
        <xs:annotation>
          <xs:documentation>Methyl Filtrated</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="repeat fractionation">
        <xs:annotation>
          <xs:documentation>Selection for less repetitive (and more gene rich) sequence through Cot filtration (CF) or other fractionation
            techniques based on DNA kinetics. </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="size fractionation">
        <xs:annotation>
          <xs:documentation> Physical selection of size appropriate targets. </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="MSLL">
        <xs:annotation>
          <xs:documentation>Methylation Spanning Linking Library</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="cDNA">
        <xs:annotation>
          <xs:documentation>PolyA selection or enrichment for messenger RNA (mRNA); synonymize with PolyA </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="cDNA_randomPriming"/>
      <xs:enumeration value="cDNA_oligo_dT"/>
      <xs:enumeration value="PolyA">
        <xs:annotation>
          <xs:documentation>PolyA selection or enrichment for messenger RNA (mRNA); should replace cDNA enumeration. </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Oligo-dT">
        <xs:annotation>
          <xs:documentation>enrichment of messenger RNA (mRNA) by hybridization to Oligo-dT. </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Inverse rRNA">
        <xs:annotation>
          <xs:documentation>depletion of ribosomal RNA by oligo hybridization. </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Inverse rRNA selection">
        <xs:annotation>
          <xs:documentation>depletion of ribosomal RNA by inverse oligo hybridization. </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ChIP">
        <xs:annotation>
          <xs:documentation>Chromatin immunoprecipitation</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ChIP-Seq">
        <xs:annotation>
        <xs:documentation>Chromatin immunoPrecipitation, reveals binding sites of specific proteins, typically transcription factors (TFs) using antibodies to extract DNA fragments bound to the target protein.</xs:documentation>
      </xs:annotation>
    </xs:enumeration>
      <xs:enumeration value="MNase">
        <xs:annotation>
          <xs:documentation>Identifies well-positioned nucleosomes. uses Micrococcal Nuclease (MNase) is an endo-exonuclease that processively digests DNA until an obstruction, such as a nucleosome, is reached.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="DNase">
        <xs:annotation>
          <xs:documentation>DNase I endonuclease digestion and size selection reveals regions of chromatin where the DNA is highly sensitive to DNase I.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Hybrid Selection">
        <xs:annotation>
          <xs:documentation>Selection by hybridization in array or solution.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Reduced Representation">
        <xs:annotation>
          <xs:documentation>Reproducible genomic subsets, often generated by restriction fragment size selection, containing a manageable
            number of loci to facilitate re-sampling. </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Restriction Digest">
        <xs:annotation>
          <xs:documentation> DNA fractionation using restriction enzymes. </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="5-methylcytidine antibody">
        <xs:annotation>
          <xs:documentation> Selection of methylated DNA fragments using an antibody raised against 5-methylcytosine or 5-methylcytidine
            (m5C). </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="MBD2 protein methyl-CpG binding domain">
        <xs:annotation>
          <xs:documentation> Enrichment by methyl-CpG binding domain. </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CAGE">
        <xs:annotation>
          <xs:documentation> Cap-analysis gene expression. </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RACE">
        <xs:annotation>
          <xs:documentation> Rapid Amplification of cDNA Ends. </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="MDA">
        <xs:annotation>
          <xs:documentation> Multiple Displacement Amplification, a non-PCR based DNA amplification technique that amplifies a minute
            quantifies of DNA to levels suitable for genomic analysis. </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="padlock probes capture method">
        <xs:annotation>
          <xs:documentation> Targeted sequence capture protocol covering an arbitrary set of nonrepetitive genomics targets. An example is
            capture bisulfite sequencing using padlock probes (BSPP). </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="other">
        <xs:annotation>
          <xs:documentation> Other library enrichment, screening, or selection process. </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="unspecified">
        <xs:annotation>
          <xs:documentation> Library enrichment, screening, or selection is not specified. </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <!-- STRING ENUMERATIONS END -->


  <xs:complexType name="PoolMemberType">
    <xs:complexContent>
      <xs:extension base="com:RefObjectType">
        <xs:sequence>
          <xs:element name="READ_LABEL" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
              <xs:simpleContent>
                <xs:extension base="xs:string">
                  <xs:attribute name="read_group_tag" type="xs:string">
                    <xs:annotation>
                      <xs:documentation> Assignment of read_group_tag to decoded read </xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                </xs:extension>
              </xs:simpleContent>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="member_name" type="xs:string" use="optional">
          <xs:annotation>
            <xs:documentation> Label a sample within a scope of the pool </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="proportion" type="xs:float" use="optional">
          <xs:annotation>
            <xs:documentation> Proportion of this sample (in percent) that was included in sample pool. </xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SampleDescriptorType">
    <xs:complexContent>
      <xs:extension base="com:RefObjectType">
        <xs:choice minOccurs="0" maxOccurs="1">
          <xs:element name="POOL">
            <xs:annotation>
              <xs:documentation>
            Identifies a list of group/pool/multiplex sample members.  This implies that
            this sample record is a group, pool, or multiplex, but it continues to receive
            its own accession and can be referenced by an experiment.  By default if
            no match to any of the listed members can be determined, then the default
            sample reference is used.
          </xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence>
                <xs:element name="DEFAULT_MEMBER" type="PoolMemberType" minOccurs="0" maxOccurs="1">
                  <xs:annotation>
                    <xs:documentation> Reference to the sample that is used when read membership cannot be determined. A default member should
                  be provided if there exists a possibility that some reads will be left over from barcode/MID resolution. A default member
                  is not needed when defining a true pool (where individual samples are not distinguished in the reads), or the reads have
                  been partitioned among the pool members (no leftovers). </xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="MEMBER" type="PoolMemberType" minOccurs="1" maxOccurs="unbounded">
                  <xs:annotation>
                    <xs:documentation> Reference to the sample as determined from barcode/MID resolution or read partition. </xs:documentation>
                  </xs:annotation>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:choice>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="LibraryDescriptorType">
    <xs:annotation>
      <xs:documentation> The LIBRARY_DESCRIPTOR specifies the origin of the material being
        sequenced and any treatments that the material might have undergone that affect the
        sequencing result. This specification is needed even if the platform does not
        require a library construction step per se. </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="LIBRARY_NAME" type="xs:string" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The submitter's name for this library.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="LIBRARY_STRATEGY" type="typeLibraryStrategy" minOccurs="1" maxOccurs="1"/>
      <xs:element name="LIBRARY_SOURCE" type="typeLibrarySource" minOccurs="1" maxOccurs="1"/>
      <xs:element name="LIBRARY_SELECTION" type="typeLibrarySelection" minOccurs="1" maxOccurs="1"/>
      <xs:element name="LIBRARY_LAYOUT">
        <xs:annotation>
          <xs:documentation>
            LIBRARY_LAYOUT specifies whether to expect single, paired, or other configuration of reads.
            In the case of paired reads, information about the relative distance and orientation is specified.
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:choice>
            <xs:element name="SINGLE">
              <xs:complexType>
                <xs:annotation>
                  <xs:documentation>
                    Reads are unpaired (usual case).
                  </xs:documentation>
                </xs:annotation>
              </xs:complexType>
            </xs:element>
            <xs:element name="PAIRED">
              <xs:complexType>
                <xs:attribute name="NOMINAL_LENGTH" type="xs:nonNegativeInteger"/>
                <xs:attribute name="NOMINAL_SDEV" type="xs:double"/>
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="TARGETED_LOCI" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:annotation>
            <xs:documentation>
              Names the gene(s) or locus(loci) or other genomic feature(s) targeted by the sequence.
            </xs:documentation>
          </xs:annotation>
          <xs:sequence>
            <xs:element name="LOCUS" maxOccurs="unbounded" minOccurs="1">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="PROBE_SET" type="com:XRefType" maxOccurs="1" minOccurs="0">
                    <xs:annotation>
                      <xs:documentation> Reference to an archived primer or
                        probe set. Example: dbProbe </xs:documentation>
                    </xs:annotation>
                  </xs:element>
                </xs:sequence>
                <xs:attribute name="locus_name">
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:enumeration value="16S rRNA">
                        <xs:annotation>
                          <xs:documentation> Bacterial small subunit ribosomal RNA, a locus used for
                            phylogenetic studies of bacteria and as a target for random target PCR in
                            environmental biodiversity screening. </xs:documentation>
                        </xs:annotation>
                      </xs:enumeration>
                      <xs:enumeration value="18S rRNA">
                        <xs:annotation>
                          <xs:documentation> Eukaryotic small subunit ribosomal RNA, a locus used for
                            phylogenetic studies of eukaryotes and as a target for random target PCR in
                            environmental biodiversity screening. </xs:documentation>
                        </xs:annotation>
                      </xs:enumeration>
                      <xs:enumeration value="28S rRNA">
                        <xs:annotation>
                          <xs:documentation>Structural ribosomal RNA for the large component, or large
                            subunit (LSU) of eukaryotic cytoplasmic ribosomes.. </xs:documentation>
                        </xs:annotation>
                      </xs:enumeration>
                      <xs:enumeration value="RBCL">
                        <xs:annotation>
                          <xs:documentation> RuBisCO large subunit : ribulose-1,5-bisphosphate
                            carboxylase/oxygenase large subunit, a locus used for phylogenetic studies
                            of plants. </xs:documentation>
                        </xs:annotation>
                      </xs:enumeration>
                      <xs:enumeration value="matK">
                        <xs:annotation>
                          <xs:documentation> Maturase K gene, a locus used for phylogenetic studies of
                            plants. </xs:documentation>
                        </xs:annotation>
                      </xs:enumeration>
                      <xs:enumeration value="COX1">
                        <xs:annotation>
                          <xs:documentation> Mitochondrial cytochrome c oxidase 1 gene, a locus used for
                            phylogenetic studies of animals </xs:documentation>
                        </xs:annotation>
                      </xs:enumeration>
                      <xs:enumeration value="ITS1-5.8S-ITS2">
                        <xs:annotation>
                          <xs:documentation> Internal transcribed spacers 1 and 2 plus 5.8S rRNA region,
                            a locus used for phylogenetic studies of fungi. </xs:documentation>
                        </xs:annotation>
                      </xs:enumeration>
                      <xs:enumeration value="exome">
                        <xs:annotation>
                          <xs:documentation> All exonic regions of the genome. </xs:documentation>
                        </xs:annotation>
                      </xs:enumeration>
                      <xs:enumeration value="other">
                        <xs:annotation>
                          <xs:documentation> Other locus, please describe.
                          </xs:documentation>
                        </xs:annotation>
                      </xs:enumeration>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="description" type="xs:string">
                  <xs:annotation>
                    <xs:documentation> Submitter supplied description of alternate locus and auxiliary
                      information. </xs:documentation>
                  </xs:annotation>
                </xs:attribute>
              </xs:complexType>
            </xs:element>

          </xs:sequence>


        </xs:complexType>
      </xs:element>
      <xs:element name="POOLING_STRATEGY" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            The optional pooling strategy indicates how the library or libraries are organized if multiple samples are involved.
          </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string"> </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="LIBRARY_CONSTRUCTION_PROTOCOL" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Free form text describing the protocol by which the sequencing library was constructed.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LibraryType">
    <xs:sequence>
      <xs:element name="DESIGN_DESCRIPTION" type="xs:string">
        <xs:annotation>
          <xs:documentation>Goal and setup of the individual library including library was constructed.</xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="SAMPLE_DESCRIPTOR" type="SampleDescriptorType">
        <xs:annotation>
          <xs:documentation> Pick a sample to associate this experiment with. The sample may be an individual or a pool,
            depending on how it is specified. </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="LIBRARY_DESCRIPTOR" type="LibraryDescriptorType">
        <xs:annotation>
          <xs:documentation> The LIBRARY_DESCRIPTOR specifies the origin of the material being sequenced and any
            treatments that the material might have undergone that affect the sequencing result. This specification is
            needed even if the platform does not require a library construction step per se. </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="SPOT_DESCRIPTOR" type="com:SpotDescriptorType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation> The SPOT_DESCRIPTOR specifies how to decode the individual reads of interest from the
            monolithic spot sequence. The spot descriptor contains aspects of the experimental design, platform, and
            processing information. There will be two methods of specification: one will be an index into a table of
            typical decodings, the other being an exact specification. This construct is needed for loading data and for
            interpreting the loaded runs. It can be omitted if the loader can infer read layout (from multiple input
            files or from one input files). </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>

  </xs:complexType>

  <xs:complexType name="ExperimentType">

    <xs:annotation>
      <xs:documentation>
        An Experiment specifies of what will be sequenced and how the sequencing will be performed.
        It does not contain results.
        An Experiment is composed of a design, a platform selection, and processing parameters.
      </xs:documentation>
    </xs:annotation>

    <xs:complexContent>
      <xs:extension base="com:ObjectType">
        <xs:sequence>
          <xs:element name="TITLE" type="xs:string" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>
            Short text that can be used to call out experiment records in searches or in displays.
            This element is technically optional but should be used for all new records.
          </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="STUDY_REF" minOccurs="1" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>
            Identifies the parent study.
          </xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:complexContent>
                <xs:extension base="com:RefObjectType"> </xs:extension>
              </xs:complexContent>
            </xs:complexType>
          </xs:element>
          <xs:element name="DESIGN" type="LibraryType" maxOccurs="1" minOccurs="1">
            <xs:annotation>
              <xs:documentation> The library design including library properties, layout, protocol, targeting information, and spot and gap
            descriptors. </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PLATFORM" type="com:PlatformType" maxOccurs="1" minOccurs="1">
            <xs:annotation>
              <xs:documentation>
            The PLATFORM record selects which sequencing platform and platform-specific runtime parameters.
            This will be determined by the Center.
          </xs:documentation>
            </xs:annotation>
          </xs:element>

          <xs:element name="PROCESSING" type="com:ProcessingType" minOccurs="0" maxOccurs="1"/>

          <xs:element name="EXPERIMENT_LINKS" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>
            Links to resources related to this experiment or experiment set (publication, datasets, online databases).
          </xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence minOccurs="1" maxOccurs="unbounded">
                <xs:element name="EXPERIMENT_LINK" type="com:LinkType"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>

          <xs:element name="EXPERIMENT_ATTRIBUTES" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>
            Properties and attributes of the experiment.  These can be entered as free-form
            tag-value pairs.
          </xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence maxOccurs="unbounded" minOccurs="1">
                <xs:element name="EXPERIMENT_ATTRIBUTE" type="com:AttributeType"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ExperimentSetType">
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:element name="EXPERIMENT" type="ExperimentType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="EXPERIMENT_SET" type="ExperimentSetType">
    <xs:annotation>
      <xs:documentation>
        An EXPERMENT_SET is a container for a set of experiments and a common namespace.
      </xs:documentation>
    </xs:annotation>

  </xs:element>

  <xs:element name="EXPERIMENT" type="ExperimentType"/>
</xs:schema>